## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/pzzzz/OneDrive/Documents/Data Analytics/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Atuona,PF,77.36,light rain,-9.8000,-139.0333,Villa Enata
1,11,Butaritari,KI,81.46,broken clouds,3.0707,172.7902,Isles Sunset Lodge
2,15,Pangai,TO,76.59,clear sky,-19.8000,-174.3500,Ha'apai Beach Resort
3,16,Freeport,US,77.58,scattered clouds,40.6576,-73.5832,The Freeport Inn and Marina
4,18,Obo,CF,78.82,light rain,5.3998,26.4869,NaN
...,...,...,...,...,...,...,...,...
214,660,Jacqueville,CI,85.91,scattered clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
215,662,Myitkyina,MM,79.30,overcast clouds,25.3833,97.4000,Shwe Phyu Hotel
216,666,Maragogi,BR,84.09,broken clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
217,671,Les Cayes,HT,87.71,scattered clouds,18.2000,-73.7500,Villa Orphee
218,672,Upington,ZA,76.69,overcast clouds,-28.4478,21.2561,River Place Manor

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Moussoro']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Moussoro']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Biltine']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Kyabe']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Ati']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
#start = (-28.4478, 21.2561)
#end = (-27.4478, 20.2561)
waypoints = [(46.4, 6.9), (46.9, 8.0)]
travel = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
#travel = gmaps.directions_layer(start, end, travel_mode='DRIVING')
fig.add_layer(travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,644,Moussoro,TD,89.28,overcast clouds,13.6408,16.4901,Hôtel Maltina
1,388,Biltine,TD,89.10,overcast clouds,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
2,584,Kyabe,TD,87.31,scattered clouds,9.4515,18.9449,NaN
3,659,Ati,TD,87.94,overcast clouds,13.2154,18.3353,NaN

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))